#Builds
/build
.class

#Intellij
.idea

#Gradle
.gradle

#XML output
*.xml

#log output
log*

#Artifacts
/src/main/java/META-INF/*

#vim
*.swp

src/Test.java
tools/ztest.py
tools/zztest.py

# Python
*.pyc
